*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
.container{
    background-color: red;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 32rem 32rem 32rem 32rem auto;
    grid-template-rows: 14rem 32rem 20rem auto;
}
.icon1{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-self: center;
    justify-self: center;
    background: wheat;
    height: 30rem;
    width: 30rem;
}
.icon1:hover{
    outline: .8rem solid green .2s;
}

/*
.icon1::after{
    content: url(./Seasonmeu__1_-removebg-preview.png);
}
*/