/* Global rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: white;
}
h1{
    font-size: 3.6rem;
}
h2{
    font-size: 2.5rem;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Main grids */
.container-home{
    background-color: red;
    width: 100%;
    height: 87vh;
    display: grid;
    grid-template-columns: auto 34rem 32rem 32rem 32rem auto;
    grid-template-rows: 18rem 32rem 20rem 3rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.container{
    background-color: green;
    width: 100%;
    height: 91vh;
    display: grid;
    grid-template-columns: 7.44rem 34rem 32rem 32rem 32rem auto;
    grid-template-rows: 9rem 32rem 32rem auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
/* Top info bar */
.utilities{
    display: flex;
    align-items: center;
}
.profile{
    position: relative;
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 5rem;
    height: 5rem;
}
.p-name{
    padding-left: 1rem;
    font-size: 1.6rem;
}
.side-icons{
    position: relative;
    width: 15rem;
    height: 5rem;
    left: 91rem;
    justify-content: space-between;
}
.side-icons > img {
    height: 3rem;
    width: 3rem;
}
.side-icons p{
    font-size: 1.6rem;
}
img[src*="battery"]{
    transform: rotate(90deg);
}
/* bottom utilities bar */
.extra-util{
    position: relative;
    justify-self: flex-end;
    left: 4rem;
    width: 75%;
    height: 3.7rem;
    top: 4.5rem;
    background-color: black;
    border-radius: .6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.extra-util > img{
    height: 3rem;
    width: 3rem;
}
.extra-util p{
    padding-left: .5rem;
    font-size: 1.6rem;
    font-weight: 500;
}
/* Navigation style */
a{
    text-decoration: none;
    color: cornsilk;
}
/* Navigation home */
.home, 
.store,
.friends,
.updates{
    display: none;
}
/* Latest game navigation */
.game{
    position: relative;
    top: -7rem;
}
.game-1{
    grid-column: 2;
    position: relative;
    top: -1.5rem;
}
.game-nav{
    grid-column: 2;
    grid-row: 3;
}
.game-nav h2{
    margin-bottom: 2.6rem;
    color: seashell;
}
/* Store navigation */
#store{
    background-color: skyblue;
}
.store-nav{
    grid-column: 2;
    grid-row: 3;
}
.store-nav h2{
    margin-bottom: 2.6rem;
    color: seashell;
}
.store-tag{
    position: relative;
    top: -7rem;
}
.store-1{
    grid-column: 2;
    position: relative;
    top: -5.6rem;
}
.store-1 h2{
    margin-bottom: 1.3rem;
}
/* Box placements */
/*Utilities */
.utilities{
    grid-column: 2/6;
    grid-row: 1/2;
    position: relative;
    top: -1rem;
}
.extra-util{
    grid-column: 5/6;
    grid-row: 4;
}
/* Navigation */
.box-nav1{
    grid-row: 2/3;
    grid-column: 2/3;
}
/* Home */
.box0{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    top: 1rem;
}
.box1{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: flex-end;
    position: relative;
}
.box2{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: self-end;
    align-self: flex-end;
    position: relative;
}
.box3{
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: flex-end;
    position: relative;
}
.box4{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: self-end;
    align-self: flex-end;
    position: relative;
}
.box5{
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: flex-end;
    position: relative;
}
.box6{
    grid-column: 5/6;
    grid-row: 2/3;
    justify-self: self-end;
    align-self: flex-end;
    position: relative;
}
.box7{
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;
    right: 1rem;
}
.box8{
    grid-column: 3/4;
    grid-row: 3/4;
}
.box9{
    grid-column: 4/5;
    grid-row: 3/4;
}
.box10{
    grid-column: 5/6;
    grid-row: 3/4;
}
/* Last game */
.box11{
    grid-column: 3/5;
    grid-row: 2/3;
}
.box12{
    grid-column: 4/6;
    grid-row: 2/3;
    position: relative;
    justify-self: right;
}
.box13{
    grid-column: 3/5;
    grid-row: 3/4;
    position: relative;
    top: -4rem;
}
.box14{
    grid-column: 4/6;
    grid-row: 3/4;
    position: relative;
    justify-self: right;
    top: -4rem;
}
.box15{
    grid-column: 3/4;
    grid-row: 3/4;
    position: relative;
    align-self: self-end;
    top: -3rem;
}
.box16{
    grid-column: 4/5;
    grid-row: 3/4;
    position: relative;
    align-self: self-end;
    top: -3rem;
}
.box17{
    grid-column: 5/6;
    grid-row: 3/4;
    position: relative;
    align-self: self-end;
    top: -3rem;
}
/* Box sizing */
.box-XL{
    background: wheat;
    height: 30rem;
    width: 32rem;
    border-radius: .4rem;
}
.box-L{
    width: 74.5%;
    height: 28rem;
    background-color: beige;
    border-radius: .4rem;
}
.box-M{
    align-self: center;
    justify-self: center;
    background: chocolate;
    height: 18rem;
    width: 32rem;
    border-radius: .4rem;
}
.box-S{
    height: 15.5rem;
    width: 15.5rem;
    background: aquamarine;
    border-radius: .4rem;
    bottom: 1rem;

}
.box-XS{
    width: 32rem;
    height: 4rem;
    background-color: blueviolet;
    border-radius: .4rem;
}
/* Box animations */
.box-XL:hover{
    outline: .5rem solid cornflowerblue;
}
.box-M:hover{
    outline: .5rem solid green;
}
.box-L:hover{
    outline: .5rem solid yellow;
}
.box-S:hover{
    outline: .5rem solid green;
}
.box-XS:hover{
    outline: .5rem solid yellowgreen;
}
/* Box styling */
.box7::after{
    content: '';
    background-color: black;
    height: 6rem;
    width: inherit;
    bottom: 0;
    opacity: .5;
    position: absolute;
    border-radius: 0 0 .4rem .4rem;
}
.box7-text{
    color: white;
    height: max-content;
    width: 28rem;
    bottom: 0;
    position: absolute;
    padding: 2rem;
    font-size: 2rem;
    z-index: 5;
}
/* TESTING AREA */
.hidden{
    background-color: yellow
}
.textXL{
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    border-radius: 0 0 .4rem .4rem;
    padding: 2rem;
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    opacity: 0;
    animation: 1s;
}
.showUp{
    animation: translateUp .4s;
}
.showDown{
    animation: translateDown .4s;
}

@keyframes translateUp {
    0%{
        transform: translateY(2rem);
        opacity: 0;
}   
    50%{
        opacity: 0;
}   
    90%{
        opacity: 0.1;
    }
    100%{
        transform: translateY(0);
        opacity: .7;
    }
}
@keyframes translateDown {
    0%{
        transform: translateY(0);
        opacity: .7;
}   
    50%{
        opacity: .1;
}   
    90%{
        opacity: 0;
    }
    100%{
        transform: translateY(2rem);
        opacity: 0;
    }
}
